## Data Science Lopes
O teste abaixo busca entender o seu processo de resolução de problemas, e entendimento dos dados disponibilizados, dando espaço para você demonstrar seus conhecimentos de Data Science e Machine Learning.

Os dados disponibilizados são de sobre imóveis da Lopes e seu respectivo preço, as features disponibilizadas representam as características de cada imóvel.

### Objetivo
O objetivo é que o candidado **faça uma breve análise dos dados**, da forma que achar melhor, e **desenvolva um modelo de precificação (regressão)** utilizando como target/variável dependente a coluna `sale`. A função custo a se minimizar é sugerido o **RMSE**, porém caso queira utilizar outra função **justifique**.

Sugerimos que o código desenvolvido tenha todos os comentários necessários para entendermos o processo, bem como boas práticas de programação e desenvolvimento de software.

### Recomendações
Aproveite as capacidades do Jupyter Notebook de utilizar markdowns e comentários para documentar sua linha de pensamento.

### Arquivo Final
Os arquivos finais a serem entregues é o notebook `train.ipynb` e as predicts do modelo desenvolvido `output.csv`.

Após o treinamento e ajuste do modelo, as inferencias deverão ser feitas em cima do arquivo `test.csv` o qual contém todas colunas do arquivo `train.csv` exceto a **target**. O arquivo final deverá conter somente 2 colunas, `sku` e `predict` conforme o exemplo abaixo, e salvo em formato `.csv` e com o nome `output.csv`

| sku | predict |
|---|---|
| 51173fe76f683f3ccd556ed32ce2f2ca | 750000 |
| b62f5788ed7c0f37d522085fe401dab7 | 230000 |
| cb40092e1db4824b5d352e2b46f4a478 | 856700 |
| 8253796889c2733a3a10fd4d1e9af1c5 | 1000000 |

### Imports

In [15]:
# liste todos os requirements necessários abaixo
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', lambda x: '%.4f' % x)

### Leitura dos Dados

In [16]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [17]:
print(f"train shape: {train.shape}\ntest shape: {test.shape}")

train shape: (39411, 40)
test shape: (4378, 39)

In [18]:
df.head()

                                sku  condominium_fee  iptu_fee  product_floor  postal_code      lon      lat  status     category  bedroom_qty  living_area  suite_qty  bathroom_qty  parking  min_park_distance  min_train_distance  min_subway_distance  pet_care_c  piscina_coberta_c  piscina_descoberta_c  piscina_i  academia_de_ginastica_c  ar_condicionado_i  spa_c  bicicletario_c  deck_c  lavabo_i  salao_de_jogos_c  sauna_c  cozinha_americana_i  armario_embutido_i  cozinha_mobiliada_i  lavanderia_c  varanda_gourmet_i  churrasqueira_i  brinquedoteca_c  espaco_gourmet_c  playground_c       city         sale
0  51173fe76f683f3ccd556ed32ce2f2ca        1908.0000  552.8400         5.0000      1421000 -46.6578 -23.5653  active  apartamento       3.0000     166.0000     1.0000        3.0000        2             0.3307              4.0090               0.4869           0                  0                     0          0                        0                  0      0               0       0         1                 0        0                    1                   1                    1             0                  0                0                0                 0             0  sao paulo 2018636.0409
1  b62f5788ed7c0f37d522085fe401dab7        1746.0000  289.0000        11.0000      1421000 -46.6578 -23.5653  active  apartamento       3.0000     123.8400     1.0000        3.0000        1             0.3307              4.0090               0.4869           0                  0                     0          0                        1                  0      0               0       0         0                 1        0                    0                   1                    0             0                  0                0                0                 0             0  sao paulo 1464473.2891
2  cb40092e1db4824b5d352e2b46f4a478        1460.0000  169.9700         0.0000      1421000 -46.6554 -23.5672  active  apartamento       2.0000     104.0000     0.0000        0.0000        2             0.5705              4.1132               0.5146           0                  1                     1          0                        1                  0      1               0       1         0                 1        1                    0                   0                    0             0                  0                0                0                 1             1  sao paulo 1940580.7971
3  8573b93d0835a1d9273e529a0def882f        2259.0000  950.0000            NaN      1421000 -46.6578 -23.5653  active  apartamento       3.0000     166.0000     1.0000        3.0000        2             0.3307              4.0090               0.4869           0                  0                     0          0                        0                  0      0               0       0         0                 0        0                    0                   0                    0             0                  0                0                0                 0             0  sao paulo 1943485.0161
4  8253796889c2733a3a10fd4d1e9af1c5        2000.0000  610.0000         8.0000      1421000 -46.6578 -23.5653  active  apartamento       3.0000     177.0000     1.0000        3.0000        1             0.3307              4.0090               0.4869           0                  0                     0          0                        0                  0      0               0       0         0                 0        0                    0                   1                    0             0                  0                0                0                 0             1  sao paulo 1831031.4568

### EDA
Na seção abaixo, desenvolva a sua análise exploratória dos dados, pode ser focado em alguma variável ou mais generalista.

A ideia é entender o comportamento a perfil dos dados, encontrar padrões/anomalias etc.

In [7]:
df.describe()

,condominium_fee,iptu_fee,product_floor,postal_code,lon,lat,bedroom_qty,living_area,suite_qty,bathroom_qty,...,cozinha_americana_i,armario_embutido_i,cozinha_mobiliada_i,lavanderia_c,varanda_gourmet_i,churrasqueira_i,brinquedoteca_c,espaco_gourmet_c,playground_c,sale
count,2.944100e+04,3.208400e+04,37921.000000,3.941100e+04,39411.000000,39411.000000,39386.000000,39411.000000,39245.000000,39371.000000,...,39411.000000,39411.000000,39411.000000,39411.000000,39411.000000,39411.000000,39411.000000,39411.000000,39411.000000,3.941100e+04
mean,6.456125e+03,6.878721e+02,4.467498,3.568772e+06,-46.607286,-23.533523,2.687859,158.650261,1.081437,2.669452,...,0.066809,0.378295,0.295983,0.027911,0.021136,0.133795,0.112481,0.076197,0.411814,1.064902e+06
std,8.140978e+05,1.324945e+04,9.073833,1.447513e+06,1.450307,0.740989,1.116276,1752.755281,1.153999,1.658778,...,0.249694,0.484968,0.456489,0.164720,0.143840,0.340436,0.315962,0.265316,0.492168,7.842334e+05
min,1.000000e-02,1.000000e-02,-2.000000,1.005020e+06,-50.565970,-24.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.055596e+05
25%,4.500000e+02,1.100000e+02,0.000000,2.341000e+06,-46.687143,-23.606216,2.000000,65.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.689216e+05
50%,8.000000e+02,2.900000e+02,2.000000,3.646000e+06,-46.654301,-23.558141,3.000000,110.000000,1.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.075423e+05
75%,1.480000e+03,6.463200e+02,7.000000,4.705080e+06,-46.619225,-23.502515,3.000000,190.000000,1.000000,4.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.431622e+06
max,1.396004e+08,1.800000e+06,890.000000,8.490740e+06,1.000000,1.000000,62.000000,325540.000000,30.000000,51.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.019495e+06

### Train Model
Na seção abaixo desenvolva o treinamento do modelo de precificação utilizando a target `sale`

### Predicts

In [12]:
#predicts.to_csv("output.csv", index=False)